<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Straw Hat API</title>
</head>
<body>
    <h1>Straw Hat API - Personagens</h1>
    <h2><%= char.name %> </h2>
    <img src=<%= char.imgUrl %> alt="<%= char.name %> image">
    <p><%= char.crew %></p>
        <% if(char.akumanomiUser){ %>
            <p><%= char.akumanomi %></p>
        <% } %>
        <a href="/">Ver Todos</a>
</body>
</html>